@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #42d45b;
}

.fond {
  background: linear-gradient(217deg, rgba(251, 205, 91, 0.8), rgba(255, 166, 0, 0.275) 70.71%),
  linear-gradient(127deg, rgba(245, 160, 195, 0.8), rgba(98, 0, 255, 0.314) 70.71%),
  linear-gradient(336deg, rgba(211, 211, 212, 0.8), rgba(138, 3, 3, 0.334) 70.71%);
  }

.game-area{
  height: 80vh;
  min-height:290px;
  min-width: 350px;
  width : auto;
  background: linear-gradient(to right,
  rgb(239, 235, 235) 50%, rgb(253, 251, 248) 50%);
  box-shadow: 2px 2px 5px black;

}

.name-player {
  text-align:center;
  font-weight: 200;
  color: #01068a;
  border: none ;
  background-color: transparent;
}

.dble-line {
  height: 30px;
}

.bi-dice-1, .bi-dice-2, .bi-dice-3, .bi-dice-4, .bi-dice-5 {
  display: none;
}

.bi-dice-6 {
  display: block;
}

.dice {
  background-color: white;
}

.color-theme {
  color: #e76986;
}

.btn-game {
  color: #01068a;
  font-weight: 200;
  background-color: transparent;
  border : 0;
}

.btn-game:disabled, .btn-game[disabled] {
  color: lightgray  ;
}

.counter-pt {
  color:white;
  font-size: 1.5em;
}

.counter {
  width: 90px;
  background-color: #e76986;
}

.counter-title {
  color:red;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
}

.point {
  font-size: 2.5em;
}

#dotPlayer1 , #dotPlayer2 {
  display: none;
}

