@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #42d45b;
}

.game-area{
  height: 80vh;
  min-height:255px;
  min-width: 350px;
  width : auto;
}
.bkg-grey {
  background-color: aqua;
}

.name-player{
  text-align:center;
  font-weight: 200;
  color: #01068a;
}

.dble-line {
  height: 30px;
}

.bi-dice-1, .bi-dice-2, .bi-dice-3, .bi-dice-4, .bi-dice-5 {
  display: none;
  width : 100px;
  height : 100px;
}

.bi-dice-6 {
  display: block;
}

.color-theme {
  color: #e76986;
}

.btn-game {
  color: #01068a;
  font-weight: 200;
  background-color: transparent;
  border : 0;
}

.counter-pt {
  color:white;
  font-size: 1.5em;
}

.counter {
  width: 90px;
  background-color: #e76986;
}

.counter-title {
  color:red;
  font-size: 0.8em;
  text-align: center;
}

.point {
  font-size: 2.5em;
}

#dotPlayer1 , #dotPlayer2 {
  display: none;
}